body {
  background-color: green; }

.style, .link {
  display: inline-block;
  text-decoration: none;
  outline: 0;
  font-size: 3rem; }

.button-on, .button-off {
  display: inline-block;
  position: absolute;
  padding: 10px; }

.button-on {
  background-color: black; }

.button-off {
  background-color: green; }

.text {
  font-size: 2rem;
  line-height: 1.2; }
