*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 50%; } }

body {
  background-color: #f5f7fa;
  padding: 4rem;
  font-family: "Montserrat", sans-serif; }

.container {
  max-width: 120rem;
  background-color: #fff;
  display: flex;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15); }
  @media only screen and (max-width: 37.5em) {
    .container {
      flex-direction: column; } }

.main-info {
  padding: 3rem 9rem 3rem 9rem; }
  @media only screen and (max-width: 50em) {
    .main-info {
      padding: 2rem 5rem 7rem 5rem; } }

.about-me {
  margin-bottom: 6.5rem; }

.education {
  margin-top: 5rem; }
  .education__university {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: #ff6b08;
    margin-top: 2rem;
    margin-bottom: 1.5rem; }
  .education__faculty {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    margin-bottom: 1.5rem; }

.workplace__list {
  margin-top: 1.5rem; }

.workplace__list-item {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #595959;
  margin-left: 1.8rem; }

.workplace__sp {
  color: #ff6b08; }

.workplace__time {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.4rem; }

.projects {
  margin-bottom: 5rem; }
  .projects__list {
    margin-top: 1rem; }
  .projects__list-item {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    margin-left: 2rem; }
  .projects__link {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #595959; }
  .projects__dots {
    font-weight: 100; }
  .projects__sp {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #595959; }

.sidebar {
  background-color: #1e2939;
  width: 37rem; }
  @media only screen and (max-width: 50em) {
    .sidebar {
      display: flex;
      margin: 0 auto;
      flex-direction: column; } }
  @media only screen and (max-width: 37.5em) {
    .sidebar {
      display: flex;
      flex-direction: column;
      width: 80%;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      margin-top: 2rem; } }
  .sidebar img {
    width: 37rem;
    height: 35rem;
    margin-top: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .sidebar img {
        width: 100%;
        margin-top: 0; } }
  .sidebar__contacts {
    margin-top: 6rem;
    margin-left: 4rem; }
  .sidebar__link:not(:last-child) {
    margin-top: 2rem; }
  .sidebar__link-sp {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: #fff;
    text-transform: uppercase; }
  .sidebar__link-info {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #5e6671;
    margin-left: 1rem;
    font-weight: 400;
    opacity: 0.5; }
  .sidebar__tech-skills {
    margin-top: 5rem;
    margin-left: 4rem; }
  .sidebar__list {
    margin-top: 2rem;
    margin-left: 1.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #ff6b08; }
  .sidebar__list-text {
    color: #abafb5; }
  .sidebar__soft-skills {
    margin-top: 5rem;
    margin-left: 4rem; }

.heading-1 {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 8rem; }

.heading-2 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem; }

.heading-3 {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.4rem; }
  .heading-3--light {
    color: #fff; }
  .heading-3--dark {
    color: #000; }

.heading-4 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem; }

.description {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #595959; }
