.menu [type="checkbox"],
.menu label.toggleSubmenu {
  display: none;
}

.menu label.toggleMenu {
  background: #c9c9c9;
  display: none;
  padding: 15px 40px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .menu {
    overflow: hidden;
  }

  .menu ul {
    display: block;
    max-height: 0;
    transition: max-height 0.2s;
  }

  .menu li > ul li ul {
    position: absolute;
    top: auto;
    right: auto;
  }

  .menu label.toggleMenu {
    display: block;
  }

  input.toggleMenu:checked + label.toggleMenu {
    background: #000;
    color: #fff;
  }

  input.toggleMenu:checked ~ ul,
  input.toggleSubmenu:checked ~ ul {
    display: block;
    position: relative;
    max-height: 5000px;
    transition: max-height 2s ease-in;
  }

  .menu label.toggleSubmenu {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  input.toggleSubmenu:checked ~ a {
    background: #454547;
    color: #fff;
  }
}
