body {
  font-family: "Raleway", sans-serif;
  color: rgba(108, 114, 121, 255);
  font-size: 14px;
  line-height: 21px;
}
.page-header {
  background-color: #31354f;
}
.site-navigation {
  font-size: 13px;
  list-style: none;
}
.site-navigation a {
  color: rgba(255, 255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 16px;
}
.features-list {
  list-style: none;
}
.features-list-item h3 {
  color: rgba(45, 48, 51, 255);
  font-weight: 700;
  line-height: 17px;
}
.team-list {
  list-style: none;
}
.team-list-name {
  font-size: 22px;
  color: rgba(45, 48, 51, 255);
  line-height: 26px;
}
.team-list-occupation {
  line-height: 16px;
  color: rgba(232, 69, 69, 255);
  font-size: 13px;
}
.page-footer {
  background-color: #3a3e64;
}
.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
