//COLOR VARIABLES
$color-primary: #fff;

$color-primary-dark: #000;

$color-secondary: #fd7d91;
$color-secondary-1: #ffb3bf;
$color-secondary-2: #ffa6be;

//FONT VARIABLESS
$font-primary: "Playfair Display", serif;

//==============================================================

body {
  font-family: $font-primary;
}
