//COLOR VARIABLES
$color-primary: #595959;
$color-primary-dark: #000;

$color-secondary: #fff;

$color-orange: #ff6b08;

//FONT VARIABLESS
$font-primary: "Montserrat", sans-serif;

//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px

//==============================================================
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  background-color: #f5f7fa;
  padding: 4rem;
  font-family: $font-primary;
}

.container {
  max-width: 120rem;
  background-color: $color-secondary;
  display: flex;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
}

.main-info {
  padding: 3rem 9rem 3rem 9rem;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem 5rem 7rem 5rem;
  }
}

.about-me {
  margin-bottom: 6.5rem;
}
