body {
  width: 1200px;
  margin: 0 auto;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
}
.site-logo {
  margin-top: 10px;
}
.navigation-menu ul {
  width: 500px;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  list-style-type: none;
}
.navigation-items {
  font-size: 12px;
  position: relative;
  color: #baebe1;
  font-family: "Montserrat";
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
}
.navigation-items:hover {
  color: #f38181;
}
.navigation-items::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #f38181;
  content: "";
  transition: all 0.3s ease-out;
}
.navigation-items:hover:after,
.navigation-items:focus:after {
  width: 100%;
}
.table {
  margin-top: 130px;
}
.table-services {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table-sp {
  font-family: "Kaushan Script";
  font-size: 24px;
}
h2 {
  font-family: "Montserrat", bold;
  font-size: 30px;
  text-transform: uppercase;
}
.underscores {
  width: 60px;
  height: 3px;
  background-color: #f38181;
}
.table-menu {
  height: 240px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.table-items {
  flex-basis: 305px;
}
.table-text {
  height: 125px;
  margin-left: 50px;
  margin-top: -50px;
}
.table-text h3 {
  font-family: "Montserrat";
  font-size: 14px;
  color: #7a7a7a;
  text-transform: uppercase;
}
.table-text p {
  font-size: 15px;
}
.table-team {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}
.site-text {
  width: 940px;
  margin: 0 auto;
  text-align: center;
  margin-top: 45px;
}
.team-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
  margin-top: 90px;
  margin-top: 90px;
  text-align: center;
}
.list-item {
  position: relative;
}
.background-photo {
  width: 383px;
  height: 473px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(239, 140, 138, 0.8),
    rgba(240, 213, 136, 0.8)
  );
  box-shadow: 15px 15px 0px 0px rgba(149, 225, 211, 1);
  z-index: 5;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.background-photo:hover {
  opacity: 1;
  top: -15px;
  left: -15px;
  transition: all 0.3s ease-in-out;
}
.photo-icon {
  width: 215px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon {
  width: 50px;
  height: 50px;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #fce38a;
}
.icon:hover {
  background-color: #95e1d3;
}
.team-list h3 {
  font-size: 14px;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: #888888;
}
.team-list p {
  color: #bdbdbd;
  font-size: 15px;
}
.site-footer {
  display: flex;
  justify-content: space-between;
}
.footer-line {
  width: 1200px;
  height: 1px;
  margin-top: 80px;
  background-color: #e5e5e5;
}
.site-footer span {
  font-family: "Montserrat";
  font-size: 14px;
  margin-top: 24px;
}
.footer-item input {
  width: 230px;
  height: 40px;
  border: 1px solid #e5e5e5;
  padding: 0;
  margin-top: 10px;
  padding-left: 10px;
}
.footer-item button {
  width: 150px;
  height: 42px;
  border: 1px solid #e5e5e5;
  padding: 0;
  margin-top: 10px;
}
.footer-item button:hover {
  background-color: #95e1d3;
}
.colortext {
  color: red;
}
