* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.page-header {
  width: 1122px;
  margin: 35px auto 0;
}
.menu-list {
  text-transform: uppercase;
  font-size: 14px;
  float: right;
  list-style: none;
}
.menu-list a {
  text-decoration: none;
}
.menu-item {
  display: inline-block;
  padding: 0 20px;
}
.menu-item :hover {
  color: #1abc9c;
}
/* featured-section */

.featured-title {
  font-size: 48px;
  text-align: center;
  margin-top: 111px;
  color: rgba(81, 81, 81, 255);
}
.feature-title-line {
  width: 164px;
  height: 7px;
  margin: 0 auto;
  background-color: #1abc9c;
  margin-top: 32px;
}
.featured-list {
  width: 1152px;
  margin: 92px auto 0;
}
.featured-item {
  width: 255px;
  background-color: #e9f0fd;
  display: inline-block;
  margin: 15px;
}
.featured-item:hover .item-name {
  background-color: #1abc9c;
}
.featured-item:hover .item-price {
  background-color: #7fd9c7;
}
.featured-img {
  width: 255px;
  height: 282px;
}
.item-name {
  width: 201px;
  float: left;
  padding: 14px 0 14px 14px;
  font-size: 18px;
  color: #fff;
  background-color: #323232;
  text-transform: uppercase;
  height: 40px;
}
.item-price {
  width: 54px;
  float: right;
  text-align: center;
  padding: 14px 0;
  font-size: 18px;
  color: #fff;
  background-color: #8c8c8c;
  text-transform: uppercase;
  height: 40px;
}
/*news*/

.news-title {
  font-size: 48px;
  text-align: center;
  margin-top: 111px;
  color: rgba(81, 81, 81, 255);
}
.news-title-line {
  width: 164px;
  height: 7px;
  margin: 0 auto;
  background-color: #1abc9c;
  margin-top: 32px;
}
.news-list {
  width: 1152px;
  margin: 75px auto;
  font-family: "Open Sans", sans-serif;
}
.news-item {
  display: inline-block;
  width: 350px;
  margin: 0 15px;
}
.news::after {
  content: "";
  width: 136px;
  height: 3px;
  background-color: #4ec6ab;
  display: block;
  margin-top: 11px;
}
.news {
  margin-top: 14px;
  margin-bottom: 29px;
  color: rgba(85, 82, 82, 255);
  font-size: 18px;
}
.link-me {
  padding: 18px 42px;
  margin-top: 16px;
  background-color: #4ec6ab;
  color: #fff;
  font-size: 16px;
}
.news-test {
  color: rgba(85, 82, 82, 255);
  font-size: 14px;
}
