* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserrat Subrayada";
  font-style: normal;
  font-weight: 400;
  src: url("./fony-face/montserrat-subrayada-v9-latin-regular.woff");
  src: local("MontserratSubrayada-Regular"),
    url("./fony-face/montserrat-subrayada-v9-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat Subrayada";
  font-style: normal;
  font-weight: 700;
  src: url("./fony-face/montserrat-subrayada-v9-latin-regular.woff");
  src: local("MontserratSubrayada-Regular"),
    url("./fony-face/montserrat-subrayada-v9-latin-700.woff") format("woff");
}
/* scada-italic - latin */
@font-face {
  font-family: "Scada";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/scada-v8-latin-italic.eot");
  src: local("Scada Italic"), local("Scada-Italic"),
    url("./fony-face/scada-v8-latin-italic.woff") format("woff");
}
body {
  margin: 0 auto;
}
.site-header {
  width: 940px;
  margin: 0 auto;
}
.site-logo {
  display: flex;
  align-items: center;
}
.site-navi {
  display: flex;
  flex-basis: 940px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 45px;
}
.navi-list {
  flex-basis: 480px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  list-style: none;
  font-size: 14px;
  text-decoration: none;
  font-family: "Montserrat Subrayada";
  color: #222222;
}
a {
  text-decoration: none;
}
/* site-main */
.site-main {
  width: 940px;
  text-align: center;
  margin: 0 auto;
}
.site-title {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat Subrayada";
  font-weight: 700;
  text-decoration: none;
  margin-top: 125px;
}
.site-span {
  font-family: "Scada";
  font-size: 16px;
  color: rgba(119, 119, 119, 255);
  text-align: center;
  margin-top: 20px;
}
.site-menu {
  display: flex;
  justify-content: space-between;
  width: 940px;
  list-style: none;
  align-content: space-between;
  margin-top: 80px;
}
.menu-items {
  width: 275px;
  text-align: center;
}
.menu-icon {
  border-radius: 50%;
  border: 4px solid #fed136;
  width: 68px;
  height: 68px;
  padding: 14px;
}
.menu-title {
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}
.menu-items p {
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  color: rgba(119, 119, 119, 255);
}
/* site-footer */
.footer {
  background-color: #222222;
  margin-top: 120px;
}

.container {
  width: 940px;
  margin: 0 auto;
  text-align: center;
}
.container-title {
  padding-top: 110px;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  text-transform: uppercase;
}
.container-sp {
  margin-top: 25px;
  text-align: center;
  font-family: "Scada";
  font-style: italic;
  font-size: 16px;
  color: #ffffff;
}
.site-form {
  margin: 75px auto 0;
  width: 940px;
}
.inner-form {
  display: flex;
  justify-content: space-between;
}
.input-block {
  width: 455px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-input:valid {
  outline: 1px solid green;
}
.form-input:invalid {
  outline: 1px solid red;
}
label {
  width: 100%;
  padding: 11px 5px;
}
.textarea {
  width: 455px;
  resize: none;
}
.footer-button {
  width: 240px;
  margin: 30px 0 115px;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: yellow;
  padding: 10px 5px;
}
