* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.site-header {
  background-image: url("./img/Vector\ Smart\ Object@3X.png");
  background-color: black;
  background-size: cover;
}
.header-menu-link {
  width: 151px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header-menu-link p {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  color: white;
  margin-top: 1.25rem;
}
.button {
  border: 2px solid white;
  font-size: 14px;
  text-align: center;
  border-radius: 3.125rem;
  padding: 6px 14px 6px 14px;
}
.header-menu-article {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  margin-top: 172px;
  margin-left: 95px;
}
.header-main {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 38px auto 0;
}
.header-main-list {
  margin: 0 auto;
}
.header-main-title {
  font-size: 28px;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.header-main-text {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
  padding: 20px 0;
  margin: 0 auto;
}
.header-main-button {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  background-color: #ff4e50;
  padding: 12px 44px 12px 44px;
  border: 1px solid white;
  border-radius: 50px;
  margin-bottom: 140px;
  line-height: 1;
}
/* site-main */

.site-main-title {
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 68px 0 15px;
}
.site-main-list {
  list-style: none;
}
.site-main-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 28px;
}

.main-photo {
  width: 122px;
  position: relative;
}

.photo-item {
  border-radius: 50%;
}
.main-wrapper {
  position: relative;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #ff4e50;
  margin-left: 89px;
  margin-top: -37px;
  margin-bottom: 20px;
}
.site-main-list li:nth-child(2) .main-wrapper {
  background-color: #ffa507;
}
.site-main-list li:nth-child(3) .main-wrapper {
  background-color: #1cd7ad;
}
.site-main-list li:nth-child(4) .main-wrapper {
  background-color: #4e73db;
}
.main-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.site-main-item h3 {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 20px 0 15px;
}
.site-main-item p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}
.main-button {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #ff4e50;
  background-color: white;
  padding: 12px 44px 12px 44px;
  border: 1px solid #ff4e50;
  border-radius: 50px;
  margin-left: 21px;
}

/* MEDIA 768 */
@media (min-width: 767px) {
  .site-header {
    margin: 0 auto;
    background-image: url("./img/Vector\ Smart\ Object@1X.png");
    background-color: black;
    background-size: cover;
  }
  .header-menu {
    width: 670px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    padding: 40px 0 0 0;
    margin: 0 auto;
  }

  .header-menu-link {
    margin: 0;
  }

  .header-menu-link p {
    margin: 0;
  }

  .header-menu-article {
    margin: 0;
  }

  .header-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 160px;
  }
  .header-main-title {
    font-size: 48px;
  }
  .header-main-text {
    font-size: 24px;
    padding: 40px 0 35px;
  }
  .header-main-button {
    margin-bottom: 235px;
    padding: 10px 40px 10px 40px;
  }
  /* MAIN */
  .site-main {
    margin: 0 auto;
  }
  .site-main-title {
    margin: 72px 0 30px;
  }
  .site-main-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  .site-main-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .site-main-list li:nth-child(1) {
    order: 1;
  }
  .site-main-list li:nth-child(3) {
    order: 2;
  }
  .site-main-list li:nth-child(2) {
    order: 3;
  }
  .site-main-list li:nth-child(4) {
    order: 4;
  }
  .main-button {
    padding: 10px 40px 10px 40px;
    order: 5;
    margin: 40px auto 0;
  }
}
/* MEDIA 1440 */
@media (min-width: 1439px) {
  .site-header {
    margin: 0 auto;
    background-image: url("./img/Vector\ Smart\ Object@1X.png");
    background-color: black;
    background-size: cover;
  }
}
