.filterConatainer {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.label {
  width: 420px;
  font-size: 18px;
  font-weight: 700;
}

.input {
  display: block;
  width: 85%;
  padding: 10px;
  outline: none;
  margin-bottom: 15px;
}

.input:focus {
  border: 2px solid blue;
  border-radius: 10px;
}
