body {
  width: 1620px;
  margin: 0 auto;
}
.header-img {
  background-image: url("./img/Layer\ 15@1X.png");
  display: inline-block;
  width: 1620px;
  height: 1000px;
  position: relative;
}
.header-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #e78683 0%, #efd68a 70%);
  opacity: 0.9;
}
.header-navigation {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  position: absolute;
  top: 30px;
  left: 360px;
}

.navigation-menu {
  width: 620px;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
.navigation-menu li {
  list-style: none;
  text-transform: uppercase;
}
.navigation-items {
  font-size: 12px;
  color: white;
  font-family: "Montserrat";
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
}
.icon-glass {
  display: inline-block;
  width: 18px;
  height: 15px;
  background-image: url("./img/SHOPPING\ CART@1X.png");
}
.icon-cart {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("./img/MAGNIFYING\ GLASS@1X.png");
}
.navigation-items:hover {
  color: #fce38a;
}
.navigation-items::after {
  display: block;
  width: 0;
  height: 2px;
  background-color: #fce38a;
  content: "";
  transition: all 0.3s ease-out;
}
.navigation-items:hover:after,
.navigation-items:focus:after {
  width: 100%;
}
.header-menu {
  position: absolute;
  top: 230px;
  left: 560px;
  width: 800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header-title {
  font-family: "Kaushan Script", cursive;
  font-size: 70px;
  color: white;
  margin: 0;
}
.header-text {
  font-family: "Montserrat", sans-serif;
  font-size: 150px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin: 40px 0 120px;
}
.header-button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: #eec788;
  color: white;
  border: 1px solid white;
  padding: 11px 37px;
}

/* site service */
.table {
  margin-top: 130px;
}
.table-services {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table-sp {
  font-family: "Kaushan Script";
  font-size: 24px;
}
h2 {
  font-family: "Montserrat", bold;
  font-size: 30px;
  text-transform: uppercase;
}
.underscores {
  width: 60px;
  height: 3px;
  background-color: #f38181;
}
.table-menu {
  width: 1142px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table-text {
  height: 125px;
  margin-left: 50px;
  margin-top: -50px;
}
.table-text h3 {
  font-family: "Montserrat";
  font-size: 14px;
  color: #7a7a7a;
  text-transform: uppercase;
}
.table-text p {
  font-size: 15px;
}
.table-items {
  width: 335px;
}

/* sddf */
.table-team {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}
.site-text {
  width: 940px;
  margin: 0 auto;
  text-align: center;
  margin-top: 45px;
}
.team-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
  margin-top: 90px;
  margin-top: 90px;
  text-align: center;
}
.list-item {
  position: relative;
}
.background-photo {
  width: 383px;
  height: 473px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(239, 140, 138, 0.8),
    rgba(240, 213, 136, 0.8)
  );
  box-shadow: 15px 15px 0px 0px rgba(149, 225, 211, 1);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.background-photo:hover {
  opacity: 1;
  top: -15px;
  left: -15px;
  transition: all 0.3s ease-in-out;
}
.photo-icon {
  width: 215px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.icon {
  width: 50px;
  height: 50px;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #fce38a;
}
.icon:hover {
  background-color: #95e1d3;
}
.team-list h3 {
  font-size: 14px;
  font-family: "Montserrat";
  text-transform: uppercase;
  color: #888888;
}
.team-list p {
  color: #bdbdbd;
  font-size: 15px;
}
