*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

.timer {
  width: 500px;
  margin: 100px auto;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  border: 1px solid paleturquoise;
  /* text-transform: uppercase; */
}

.label {
  color: purple;
}

.value {
  color: blue;
}
